In [2]:
import csv
rows=[]

with open('data-text.csv',encoding = 'utf-8') as f:
    reader=csv.reader(f)
    for row in reader:
        rows.append(row)
rows[:20]

[['Indicator',
  'PUBLISH STATES',
  'Year',
  'WHO region',
  'World Bank income group',
  'Country',
  'Sex',
  'Display Value',
  'Numeric',
  'Low',
  'High',
  'Comments'],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Europe',
  'High-income',
  'Andorra',
  'Both sexes',
  '77',
  '77.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Andorra',
  'Both sexes',
  '80',
  '80.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Andorra',
  'Female',
  '28',
  '28.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Europe',
  'High-income',
  'Andorra',
  'Both sexes',
  '23',
  '23.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Eastern Mediterranean',
  'High-income',
  'United Arab Emirates',
  'Female',
  '78',
  '78.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Americas',
  'High-income',
  'Antigua and Barbuda',
  'Male',
  '72',
  '72.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Americas',
  'High-income',
  'Antigua and Barbuda',
  'Male',
  '17',
  '17.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Americas',
  'High-income',
  'Antigua and Barbuda',
  'Both sexes',
  '22',
  '22.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Western Pacific',
  'High-income',
  'Australia',
  'Male',
  '81',
  '81.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Western Pacific',
  'High-income',
  'Australia',
  'Both sexes',
  '80',
  '80.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Western Pacific',
  'High-income',
  'Australia',
  'Both sexes',
  '83',
  '83.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Austria',
  'Female',
  '83',
  '83.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Austria',
  'Female',
  '25',
  '25.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Europe',
  'High-income',
  'Belgium',
  'Female',
  '83',
  '83.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2000',
  'Eastern Mediterranean',
  'High-income',
  'Bahrain',
  'Male',
  '73',
  '73.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '1990',
  'Eastern Mediterranean',
  'High-income',
  'Bahrain',
  'Female',
  '74',
  '74.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '1990',
  'Eastern Mediterranean',
  'High-income',
  'Bahrain',
  'Male',
  '17',
  '17.00000',
  '',
  '',
  ''],
 ['Life expectancy at birth (years)',
  'Published',
  '2012',
  'Americas',
  'High-income',
  'Bahamas',
  'Male',
  '72',
  '72.00000',
  '',
  '',
  ''],
 ['Life expectancy at age 60 (years)',
  'Published',
  '2000',
  'Americas',
  'High-income',
  'Bahamas',
  'Both sexes',
  '21',
  '21.00000',
  '',
  '',
  '']]

In [4]:
with open('data-text20.csv','w',encoding='utf-8',newline='') as f: #csv파일을 20개로 자르기
    writer=csv.writer(f)
    writer.writerows(rows[:20])

In [9]:
short=[]
with open('data-text20.csv','r',encoding='utf-8',newline='') as t: #20개로 줄인 csv파일을 db에 넣기 편하게 리스트에 집어넣기
    reader=csv.reader(t)
    for rows in reader:
        short.append(rows)

In [5]:
import sqlite3
con=sqlite3.connect("C:/Users/Seung Soo/Desktop/Data Eng/data-text_db.db")#sqlite3 불러와 새로운 db파일 만들기
cursor=con.cursor()#커서객체생성

In [8]:
cursor.execute("CREATE TABLE life_expectency(indicator text, country text, display_value int)")#db테이블 생성

In [10]:
for row in short:
    cursor.execute('INSERT INTO life_expectency VALUES(?,?,?)',(row[0],row[5],row[7]))
    #indicator, county display value만 불러와야하니 0,5,7순서로 불러옴

In [11]:
con.commit() #db에 반영

In [12]:
con.close()#db연결 종료